<div class="card">

  <!--Card content-->
  <div class="card-body">
      <!--Title-->
      <h4 class="card-title">{{model.name}}</h4>
      <!--Text-->
      <p class="card-text">Also known as {{model.nickName}} is the {{model.position}} of {{model.pirateCrew.name}} pirates with a bounty of ${{model.bounty}}.</p>
      <a routerLink="/pirates/edit/{{model.pirateID}}" class="btn btn-default waves-light" mdbWavesEffect>Edit</a>
      <a routerLink="/pirates/delete/{{model.pirateID}}" class="btn btn-danger waves-light" mdbWavesEffect>Delete</a>
  </div>

</div>