<h3 *ngIf="!isInsideModal" class="h3 md-4">Add Pirate</h3>

<div class="row">
  <div class="col-md-5">
    <form (ngSubmit)="create()" [formGroup]="pirateCrewAddForm">
      <div class="md-form">        
        <input type="text" formControlName="name" id="name" class="form-control validate" mdbInputDirective>
        <label data-error="wrong" data-success="right" for="name">Name</label>
      </div>

      <div class="text-right" *ngIf="!isInsideModal">
        <a routerLink="" class="btn btn-warning waves-light" mdbWavesEffect>Cancel</a>
        <input [disabled]="!pirateCrewAddForm.valid" type="submit" class="btn btn-default waves-light" mdbWavesEffect value="Save">
      </div>
    </form>
  </div>
</div>